@using CarInsurance.Models
@model List<Insuree>

<h2>Insurees</h2>

<table class="table">
    <tr>
        <th>
            First Name:
        </th>
        <th>
            Last Name:
        </th>
        <th>
            Email Address: 
        </th>
        <th>
            Quote: 
        <th></th>
    </tr>

    @foreach (var insuree in Model)
    {
        <tr>
            <th>
                @insuree.FirstName
            </th>
            <th>
                @insuree.LastName
            </th>
            <th>
                @insuree.EmailAddress
            </th>
            <th>
                $@insuree.Quote
            </th>
            <th></th>
        </tr>
    }
</table>
